*{
    margin: 0 0;
    padding: 0 0;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}
.main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: teal;
}
.heading{
    font-size: 1.5rem;
}
.topic{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    height: 20vh;
    width: 20%;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.topics{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    height: 20vh;
    width: 20%;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
}
.icon{
    /* position: sticky; */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.tomato{
    font-weight: 900;
    color: tomato;
    font-size: inherit;
}
.green{
    font-weight: 900;
    color: rgb(113, 162, 16);
    font-size: inherit;
}
.purple{
    font-weight: 900;
    color: purple;
    font-size: inherit;
}
ul li{
    list-style: none;
}
.modified-topic{
    z-index: 2;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    min-height: 70vh;
    width: 100%;
    padding: 50px 10px;
    padding-top: 50px;
    border-left: 5px solid deeppink;
}
p{
    font-size: large;
    padding-left: 20px;
}
hr{
    width: 100%;
    border: 1px solid grey;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.hidden{
    display: none;
}
.visible{
    display: inherit;
}
.img{
    height: 100px;
    width: 150px;
    padding-left: 20px;
    /* border-radius: 50%; */
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.docx{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 100px) and (max-width: 770px){
    .topic{
        width: 80%;
    }
    .modified-topic{
        width: 100vw;
    }
}